* {
  box-sizing: border-box;
}

/* .css-chart {
} */

.container {
  width: 100%;
  background-color: white;
}

li {
  list-style-type: none;
}

.skills {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 20px;
}

/* .html {
  width: 90%;
}
.css {
  width: 80%;
}
.js {
  width: 65%;
}
.php {
  width: 60%;
}
.ruby {
  width: 40%;
} */

.unit {
  display: inline-block;
  margin-right: 11%;
}

figcaption {
  font-size: 1em;
  color: black;
  text-align: center;
}
hr .x-axis {
  border: 1 px solid red;
}
