body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eae7dc;
}
.content {
  width: 100%;
  margin: auto;
  padding: 10px;
}
.row {
  width: 100%;
  margin: auto;
  padding: auto;
}
#q-graph tr,
#q-graph th,
#q-graph td {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.col-md-6 {
  margin-top: 4rem;
  margin-right: 2rem;
  margin-left: 0;
  margin-bottom: 2rem;
}
