body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eae7dc;
}

#q-graph tr,
#q-graph th,
#q-graph td {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.input-group {
  margin-top: -1rem;
  margin-right: 2rem;
  margin-left: 0;
  margin-bottom: 2rem;
}
